.content {
    padding: 3rem 10rem;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
}

.card_space {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    padding-top: 5rem;
}

@media screen and (max-width:1024px) {
    .card_space {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    @media screen and (max-width:768px) {
        .content {
            padding: 3rem 6rem;
        }
        .card_space {
            padding-top: 3rem;
        }
    }

    @media screen and (max-width:560px) {
        .content {
            padding: 2rem 2rem;
        }
        
    }
}