.card {
    width: auto;

    color: var(--black);
    display: flex;
    justify-content: space-between;

    border-radius: 20px;
    padding: 1.5rem;

    gap: 2rem;

    border: 1px solid var(--main);

    background-color: #fff;
}
.card__targets {
    width: auto;

    color: var(--black);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border-radius: 20px;
    padding: 1.5rem;

    gap: 2rem;

    border: 1px solid var(--main);

    background-color: #fff;
}

.down_block {
    display: flex;
    justify-content: space-between;
}

.down_block__targets {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.number_block {
    display: flex;
    align-items: center;
    width: 45%;
}

.number_block:first-child {

    justify-content: end;
}

.number_block:last-child {
    justify-content: start;
}

.slash {
    color: var(--black);
    width: 10%;
}

.price__red {
    color: var(--red);
    font-weight: bold;
    font-size: 1.2rem;
}

.mobile {
    display: none;
}

.text_block {
    height: 2rem;
    display: flex;
    align-items: center;

    font-weight: bolder;

}

.ui_block {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.price {
    color: var(--green);

    font-weight: bold;
    font-size: 1.2rem;
}

.customer {
    font-weight: bold;
}

.card_title {
    font-size: 1.8rem;
}

.card_pretitle {
    font-weight: lighter;
}

.button {
    background-color: var(--main);
    color: #fff;

    border: none;
    border-radius: .9rem;

    padding: 1.1rem;

    font-weight: bold;
    font-size: .9rem;
}


@media screen and (max-width:768px) {
    .card_title {
        font-size: 1.3rem;
    }
    .price {
        font-size: 1rem;
    }

    .button {
        padding: .9rem;
        font-size: .7rem;
    }
}


@media screen and (max-width:630px) {
    .full_screen {
        display: none;
    }
    .mobile {
        display: block;
    }

    .card {
        flex-direction: column;

        gap: 1.6rem;
    }

    .price__red {
        font-size: 1rem;
    }
}